<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>102504064630-216ndbjlb4r959ksvu83rfl39j5hc4pk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1r6BmVHg-wrb9qjQUapDIsot0t6mhS4c</string>
	<key>GCM_SENDER_ID</key>
	<string>102504064630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uz.m.abbos.tabriklar</string>
	<key>PROJECT_ID</key>
	<string>tabrik-va-tilaklar</string>
	<key>STORAGE_BUCKET</key>
	<string>tabrik-va-tilaklar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102504064630:ios:bb6526b963dc33c147a157</string>
	<key>DATABASE_URL</key>
	<string>https://tabrik-va-tilaklar-default-rtdb.firebaseio.com</string>
</dict>
</plist>